body {
  color: #eee;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  background-image: repeating-linear-gradient(
      to right,
      #2d2a44 0 1px,
      transparent 2px 200px
    ),
    repeating-linear-gradient(to bottom, #2d2a44 0 1px, transparent 2px 200px),
    radial-gradient(at 50% 50%, #2d2a44, #1d1b34);
}
::-webkit-scrollbar {
  width: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

main .banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

main .banner .content {
  max-width: 900px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.links {
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner a {
  all: unset;
  border: 1px solid #afaeae55;
  padding: 10px 20px;
  border-radius: 20px;
  background-image: linear-gradient(to bottom, #eee1, transparent, #eee1);
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
}

.banner a .icon {
  margin-right: 4px;
}

.banner a:hover {
  background-color: #c691e6;
  color: #040018;
  box-shadow: 0 0 50px #c691e6;
}

h1 {
  --to: left;
  font-size: 4em;
  font-weight: bold;
  background-clip: border-box;
  background-image: linear-gradient(to var(--to), #89a5df, #e46e7f, #e8e191);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 3px;
}

h1.right {
  --to: right;
}

h4 {
  padding: 1rem;
  line-height: 1.25em;
  text-wrap: pretty;
  letter-spacing: 1px;
}

.banner {
  position: relative;
}

.banner #dotsCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  /* background-color: red; */
}
